@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
  font-family: 'Old Stamper';
  src: url('./assets/fonts/old_stamper.ttf');
}

@font-face {
  font-family: 'D Day Stencil';
  src: url('./assets/fonts/D Day Stencil.ttf');
}

@mixin flex-container($direction: row, $justify: center, $align: center, $gap: 0px) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin box-shadow($color: #000000aa, $top: 0, $left: 0, $blur: 10px, $spread: 0px) {
  box-shadow: $top $left $blur $spread $color;
}

@mixin button($width: 24px, $height: 24px, $image-size: 80%, $hover-bg: #00000033, $start-opacity: 100%) {
  @include flex-container;
  width: $width;
  height: $height;

  border-radius: 8px;
  background-color: transparent;
  border: none;
  outline: none;
  opacity: $start-opacity;
  scale: 1;

  transition: background-color 0.3s ease, scale 0.3s ease, opacity 0.3s ease;
  cursor: pointer;

  img {
    height: $image-size;
  }

  &:hover {
    background-color: $hover-bg;
    opacity: 100%;
  }

  &:active {
    scale: 0.9;
  }
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1000px 0;
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes flicker {
  0%   { opacity:0.5; }
  50%  { opacity:0.25; }
  100% { opacity:0.5; }
}


$ship-relative-sizes: (
  'Carrier': 5,
  'Battleship': 4,
  'Destroyer': 3,
  'Submarine': 3,
  'Patrol Boat': 2,
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  &[src*=svg] {
    height: 50px;
  }
}

body {
  font-family: "Josefin Sans", sans-serif;
  height: 100vh;
  width: 100vw;

  background-image: url('./assets/images/background.png');
  background-repeat: no-repeat;
  background-position: fixed;
  object-fit: cover;
  overflow: hidden;
  user-select: none;

  @include flex-container;

  .home-btn,
  .sound-btn {
    @include button(32px, 32px, 80%, #00000011, 70%);
    // display: none;

    position: fixed;
    top: 8px;
    z-index: 3;

    border: 0;
    outline: 0;
    filter: invert(1);
  }

  .sound-btn {
    right: 8px;

    &__icon {
      display: none;
    }

    &__icon--active {
      display: block;
    }
  }

  #sound-toggle {
    display: none;
  }

  .game .sound-btn {
    left: 8px;
    right: auto;
  }
}

.modal {
  overflow: hidden;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;

  padding: 16px 24px;

  @include box-shadow(#00000022, 0, 0, 5px, 3px);
  background: rgb(56,134,199);
  background: radial-gradient(circle, #276ca5dd 30%, #215b8bdd 100%);
  border-radius: 24px;
  border: none;
  outline: none;

  &::backdrop {
    background: url('./assets/images/fog.png'), #000000dd;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 16s linear infinite;

    opacity: 10%;
  }

  &:has(.home--active) {
    padding-bottom: 0px;
  }
}

.home.home--active {
  @include flex-container(column, center, center, 12px);
}

.place--active,
.game--active {
  display: grid !important;
}

.home {
  display: none;

  height: 500px;
  width: 650px;

  .logo {
    @include flex-container(row, center, center, 12px);

    filter: invert(1) drop-shadow(0px 0px 3px #00000077);;
    opacity: 0.9;
    user-select: none;

    &__icon {
      opacity: 0.85;

      &--1 {
        height: 72px;
      }
      
      &--2 {
        height: 56px;
      }
    }

    &__title {
      font-family: "Old Stamper", "Josefin Sans", sans-serif;
      font-size: 48px;

    }
  }

  .players {
    @include flex-container(row, center, center, 16px);

    &__vs {
      opacity: 90%;
      color: white;
      font-size: 64px;
      font-family: 'D Day Stencil', "Josefin Sans", sans-serif;
      text-shadow: 0 0 3px #000000bb;
      user-select: none;
    }

    .player {
      @include flex-container(column, center, center, 8px);
      @include box-shadow(#00000055, 0, 0, 7px, 0);

      padding: 24px 32px;
      border-radius: 16px;

      background: radial-gradient(circle, #8eb7f577 0%, #6c91c777 150%);

      &__avatar {
        height: 168px;
        border-radius: 50%;

        @include box-shadow(#00000077, 0, 0, 2px, 1px);
        margin-bottom: 4px;
      }

      &__name {
        max-width: 160px;
        border: none;
        outline: none;
        
        font-size: 20px;
        text-wrap: nowrap;
        overflow: hidden;

        padding: 4px 6px 2px 6px;
        border-radius: 4px;
        margin-bottom: 8px;

        background-color: transparent;
        transition: background-color 0.1s ease;

        &:focus {
          background-color: #ffffffcc;
          @include box-shadow(#00000044, 0, 0, 2px, 1px);
        }
      }

      &__options {
        @include flex-container(row, center, center, 12px);

        input[type=radio] {
          display: none;
        }

        input[type=radio]:checked + label {
          background-color: #202074;
          opacity: 90%;
        }

        label {
          @include button(min-content, 36px, 80%, #202074cc);

          padding: 4px 8px;
          border-radius: 8px;
          
          opacity: 70%;
          border: 2px #202074cc solid;

          color: white;
          font-size: 0.9rem;
        }
      }

      // If one option in human or AI is checked, hide the other avatar
      &:has(.player__options input[value=true]:checked) .player__avatar--human,
      &:has(.player__options input[value=false]:checked) .player__avatar--ai {
        display: none;
      }
    }
  }

  .play-btn {
    @include button(min-content, 36px, 80%, #80441c, 0.9);

    margin-top: 12px;
    padding: 18px 16px;
    border-radius: 8px;
    
    @include box-shadow(#000000aa, 0, 0, 3px);
    background-color: #80441cee;
    border: none;
    outline: none;

    color: white;
    font-size: 1.8rem;
    font-family: 'D Day Stencil', "Josefin Sans", sans-serif;
  }
}

.place {
  display: none;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  grid-template: 
            "top top" 50px
            "btns ships" 50px 
            "board ships" 1fr
            "bottom bottom" 70px / 1fr 250px;


  height: 510px;
  width: 570px;
  padding-left: 32px;
  margin-bottom: -12px;

  &__heading {
    grid-area: top;

    color: #ddd;
    font-size: 2.4rem;
    letter-spacing: 3px;
    font-family: 'D Day Stencil', "Josefin Sans", sans-serif;
    text-shadow: 0 0 7px #00000099;
  }

  &__btns {
    grid-area: btns;

    @include flex-container(row, start, center, 12px);
    padding-top: 8px;

    & > * {
      @include button(fit-content, 32px, 100%, #3f3381, 85%);
      @include box-shadow(#000000dd, 0, 0, 2px);
      background-color: #2d2261;
      padding: 6px 8px;
      gap: 6px;

      color: white;
      font-weight: bold;

      img {
        height: 24px;
        filter: invert(0.9);
      }

      p {
        padding-top: 2px;
      }
    }

    .shuffle-btn__icon {
      height: 18px;
    }

    .rotate-btn__icon {
      display: none;

      &--active {
        display: block;
      }
    }

    #rotate-radio {
      display: none;
    }
  }

  .panel-ships {
    grid-area: ships;
    
    background-color: #48aae2;
    border-radius: 12px;
    overflow: hidden;
    @include box-shadow(#00000077, 0, 0, 5px);

    .panel-ship:not(:last-child)::after {
      content: '';
      grid-column: 1 / -1;

      position: absolute;
      bottom: -2px;

      background-color: #00083555;
      height: 2px;
      width: 85%;
    }
    
    .panel-ship--placed img {
      opacity: 0;
      cursor: default;
    }
  }

  .board {
    grid-area: board;

    --cell-size: 32px;
    
    background-color: #3f82da;
    @include box-shadow(#00000077, 0, 0, 5px);


    &__map {
      cursor: default;

      .cell {
        opacity: 0.6;

        .state {
          display: none;
        }

        .fog {
          display: none;
        }
      }

    }

    &__ships {
      cursor: default;
      pointer-events: all;

      .ship {
        filter: brightness(0.95) contrast(1.1) drop-shadow(0px 0px 2px #00000077);
        cursor: pointer;
        transition: none !important;

        &--hidden,
        &--selected {
          pointer-events: none;
          cursor: default;
        }
        
        &--hidden {
          display: none;
        }

        &--selected {
          animation: 1.5s flicker infinite;
          animation-timing-function: ease;

          filter: brightness(0) saturate(100%) invert(5%) sepia(80%) saturate(7407%) hue-rotate(360deg) brightness(82%) contrast(96%);
        }

        &--allowed {
          filter: brightness(0) saturate(100%) invert(22%) sepia(58%) saturate(1597%) hue-rotate(95deg) brightness(97%) contrast(107%);
        }

        &--vertical.ship--selected:not(.ship--locked) {
          transform: translateX(0)
                     translateY(0);
  
        }
        
        &--horizontal.ship--selected:not(.ship--locked) {
          transform-origin: top left;
          transform: translateY(0)
                     translateX(calc(var(--ship-size)))
                     rotate(90deg);
        }
      }
    }
  }

  .place-btn {
    grid-area: bottom;

    @include button(max-content, min-content, 0%, #80441c, 1.0);

    padding: 8px 12px;
    border-radius: 8px;
    
    @include box-shadow(#000000aa, 0, 0, 3px);
    background-color: #6e3a17;
    border: none;
    outline: none;

    color: white;
    font-size: 1.6rem;
    font-family: 'D Day Stencil', "Josefin Sans", sans-serif;
  
    &:disabled {
      background-color: #6e3a17;
      opacity: 0.8;

      &:hover {
        background-color: #6e3a17;
        opacity: 0.8;
        cursor: default;
      }

      &:active {
        scale: 1;
      }
    }
  }
}

.game {
  display: grid;
  display: none;
  grid-template: 
    "message message" 60px
    "area0 area1" 1fr / 1fr 1fr;

  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 0 24px;

  &--over.game--over {
    .board {
      cursor: default !important;

      .board__coor-lines {
        display: none !important;
      }

      .fog {
        opacity: 0 !important;
      }

      .ship.ship.ship.ship.ship {
        display: block !important;
      }
    }
  }

  .message-box {
    grid-area: message;

    height: 50px;
    width: 500px;
    margin-top: 48px;
    padding: 16px;

    opacity: 0.9;
    background: #0b2879;
    background: radial-gradient(circle, #3d579cbb 0%, #33477ebb 100%);
    border: 2px solid #020231;
    border-radius: 16px;
    @include box-shadow(#000000aa, 0, 0, 3px);

    p {
      color: #ddd;
      overflow: hidden;
      white-space: nowrap;
      font-weight: bold;
      animation: typing 3s forwards;
    }
  }

  .area {
    display: grid;
    justify-items: center;
    justify-self: stretch;

    &--0 {
      grid-area: area0;
      grid-template: 
        "name ." 50px
        "board ships" 1fr / 1fr 150px;
      
      .panel-ships {
        margin-right: 8px;
      }
    }

    &--1 {
      grid-area: area1;
      grid-template: 
        ". name" 50px
        "ships board" 1fr / 150px 1fr;

      .panel-ships {
        margin-left: 8px;
      }
      
      .panel-ship {
        transform: scaleX(-1);
      }
    }

    &--turn { 
      .board:hover {
        cursor: default !important;
      }

      .area__name {
        color: #081f4e;
        text-shadow: none;
        background-color: #ccc;
        border-radius: 12px;
        @include box-shadow(#000000aa, 0, 0, 3px);
      }
    }

    &--pov {
      .fog {
        opacity: 0 !important;
      }

      .board:hover {
        cursor: default !important;
      }
    }

    &:not(&--pov) {
      .ship:not(.ship--sunk) {
        display: none !important;
      }
    }

    &--vs-ai:not(.area--turn) .board__coor-lines, 
    &--vs-human:not(.area--turn) .board:hover .board__coor-lines {
      display: block;
    }

    &--vs-ai .board__coor-lines {
      --speed: 2.0s;

      &__row,
      &__col,
      &__target {
        transition: top var(--speed) ease, left var(--speed) ease;
      }
    }

    &--vs-ai .board {
      cursor: default !important;
    }

    &--intermediate .board {
      pointer-events: none;

      .board__ready-btn.board__ready-btn--shown {
        pointer-events: all;
        opacity: 1;

        cursor: pointer;
      }      
    }

    &--intermediate .board__coor-lines {
      display: none !important;
    }

    &__name {
      grid-area: name;

      justify-self: center;
      align-self: end;
      padding: 2px 6px;
      margin-bottom: 8px;
      width: max-content;
      transition: background-color 0.2s ease, color 0.2s ease;

      color: #ccc;
      font-size: 1.3rem;
      letter-spacing: 2px;
      font-family: 'D Day Stencil', "Josefin Sans", sans-serif;
      text-shadow: 0 0 7px #00000099;
    }

    .board {
      grid-area: board;

      border: 1px solid #ffffff44;

      --cell-size: 45px;
    }

    .panel-ships {
      @include flex-container(column, center, stretch);
      grid-area: ships;

      .panel-ship {
        height: 48px;
        $ship-size: 24px;

        opacity: 1;
        transition: opacity 0.3s ease;
    
        @each $ship, $relative-size in $ship-relative-sizes {
          img[src*="#{$ship}"] {
            width: $relative-size * $ship-size;
          }
        }

        img {
          filter: invert(0.8) drop-shadow(2px 2px 3px #222);
          cursor: default;
        }

        &--sunk {
          opacity: 0.5;
        }
      }
    }
  }
}

.panel-ships {
  @include flex-container(column, start, stretch);

  .panel-ship {
    @include flex-container(column, center, center, 4px);

    position: relative;
    height: 72px;
    padding: 8px 12px;
    $ship-size: 30px;

    @each $ship, $relative-size in $ship-relative-sizes {
      img[src*="#{$ship}"] {
        width: $relative-size * $ship-size;
      }
    }

    h3 {
      align-self: start;
      font-size: 0.9rem;
      letter-spacing: -0.3px;
      color: #020231;
    }

    img {
      align-self: end;
      transition: scale 0.3s ease, filter 0.3s ease;
      filter: auto;
      cursor: pointer;

      &:hover {
        scale: 1.05;
        filter: brightness(0) saturate(100%) invert(5%) sepia(43%) saturate(7462%) hue-rotate(230deg) brightness(76%) contrast(111%);
      }
    }
  }
}

.board {
  position: relative;
  box-sizing: content-box;

  --cell-size: 50px;

  width: calc(var(--cell-size) * 10);
  height: calc(var(--cell-size) * 10);

  &:hover {
    cursor: url('./assets/images/target-small.svg') 16 16, pointer;
  }
  
  &__map {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);

    .cell {
      position: relative;
      border: 1px solid #ffffff44;

      &__state {
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }

      &__state[src *= cross] {
        filter: invert(1);
        opacity: 0.4;
        height: calc(0.8 * var(--cell-size));
      }

      &__state[src *= hit],
      &__state[src *= sunk] {
        height: calc(0.4 * var(--cell-size));
      }

      &__state[src *= hit] {
        opacity: 0.8;
        filter: drop-shadow(0 0 3px #ffffff77);
      }

      &__state[src *= sunk] {
        opacity: 0.5;
      }


      .fog {
        $directions: 'top', 'left', 'bottom', 'right';
    
        @each $direction in $directions {
          --mask-#{$direction}: linear-gradient(to #{$direction}, #000000ff 0%, #000000ff 100%);
    
          &--#{$direction} {
            --mask-#{$direction}: linear-gradient(to #{$direction}, #000000ff 60%, #00000000 100%);
          }
        }
    
        height: var(--cell-size);
        width: var(--cell-size);
        background-image: url(./assets/images/fog-small.png);
        
        position: absolute;
        overflow: hidden;
        z-index: 3;
        pointer-events: none;
        opacity: 20%;
        mask-image: var(--mask-top), var(--mask-left), var(--mask-bottom), var(--mask-right);
        mask-composite: intersect;

        // transition: opacity 0.1s ease;

        &--hidden {
          display: none;
        }
      }
    }
  }

  &__ships {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;

    .ship {
      --row: 0;
      --col: 0;
      --length: 2;
      --isVertical: true;

      --occupied-size: calc(var(--cell-size) * var(--length));
      --ship-size: calc(0.95 * var(--occupied-size));

      position: absolute;
      top: calc(var(--cell-size) * var(--row));
      left: calc(var(--cell-size) * var(--col));
      height: var(--ship-size);
      
      opacity: 0.85;
      overflow: hidden;
      transition: height 0.3s ease, filter 0.3s ease;
      filter: brightness(0.8) contrast(1.1) drop-shadow(0px 0px 2px #00000077);

      &--vertical {
        transform: translateX(calc(var(--cell-size) / 2 - 50%))
                   translateY(calc(var(--occupied-size) / 2 - 50%));

      }
      
      &--horizontal {
        transform: translateY(calc(var(--cell-size) / 2 - 50%))
                   translateX(calc(var(--occupied-size) / 2 - 50%))
                   rotate(90deg);
      }

      &--sunk {
        opacity: 0.3;
        filter: contrast(1.1) drop-shadow(0 0 0px #31acffcc);
        transition: opacity 20s ease, filter 1s ease;
      }

      &--hover {
        --ship-size: calc(1.03 * var(--occupied-size));
        filter: brightness(0.9) contrast(1.1);

        &.ship--sunk {
          filter: brightness(1.1);
        }
      }
    }
  }

  &__coor-lines {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    pointer-events: none;

    --row: 0;
    --col: 0;
    --thickness: calc(1 * var(--cell-size));
    --dist-row: calc((var(--row) + 0.5) * var(--cell-size) - 0.5 * var(--thickness));
    --dist-col: calc((var(--col) + 0.5) * var(--cell-size) - 0.5 * var(--thickness));
    --length: calc(var(--cell-size) * 10);

    &__row,
    &__col,
    &__target {
      position: absolute;
      background-color: #18a4e6;
      transition: top 0.05s ease, left 0.05s ease;
    }

    &__row {
      opacity: 20%;

      top: var(--dist-row);
      left: 0;

      width: var(--length);
      height: var(--thickness);
    }

    &__col {
      opacity: 20%;

      top: 0;
      left: var(--dist-col);

      width: var(--thickness);
      height: var(--length);
    }

    &__target {
      opacity: 20%;

      top: var(--dist-row);
      left: var(--dist-col);

      width: var(--thickness);
      height: var(--thickness);
    }
  }

  &__ready-btn {
    @include button(min-content, min-content, 80%, #ffffffbb, 0.8);

    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    
    opacity: 0;
    pointer-events: none;
    
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease, background-color 0.5s ease, transform 0.2s ease;

    background-color: #ffffffaa;
    padding: 6px 10px;
    
    color: #081f4e;
    font-size: 1.6rem;
    letter-spacing: 2px;
    font-family: 'D Day Stencil', "Josefin Sans", sans-serif;
    @include box-shadow(#081f4eee, 0, 0, 8px);

    &:active {
      scale: 1;
      transform: translate(-50%, -50%) scale(0.9);
    }
  }
}
