@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
  font-family: 'Old Stamper';
  src: url('./assets/fonts/old_stamper.ttf');
}

@font-face {
  font-family: 'D Day Stencil';
  src: url('./assets/fonts/D Day Stencil.ttf');
}

@mixin flex-container($direction: row, $justify: center, $align: center, $gap: 0px) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin box-shadow($color: #000000aa, $top: 0, $left: 0, $blur: 10px, $spread: 0px) {
  box-shadow: $top $left $blur $spread $color;
}

@mixin button($width: 24px, $height: 24px, $image-size: 80%, $hover-bg: #00000033, $start-opacity: 100%) {
  @include flex-container;
  width: $width;
  height: $height;

  border-radius: 8px;
  background-color: transparent;
  border: none;
  outline: none;
  opacity: $start-opacity;
  scale: 1;

  transition: background-color 0.3s ease, scale 0.3s ease, opacity 0.3s ease;
  cursor: pointer;

  img {
    height: $image-size;
  }

  &:hover {
    background-color: $hover-bg;
    opacity: 100%;
  }

  &:active {
    scale: 0.9;
  }
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1000px 0;
  }
}


$ship-relative-sizes: (
  'Carrier': 5,
  'Battleship': 4,
  'Destroyer': 3,
  'Submarine': 3,
  'Patrol Boat': 2,
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  &[src*=svg] {
    height: 50px;
  }
}

body {
  font-family: "Josefin Sans", sans-serif;
  min-height: 100vh;
  position: relative;

  background-image: url('./assets/images/background.png');
  object-fit: cover;
  overflow: hidden;
  user-select: none;

  @include flex-container;

  .home-btn,
  .sound-btn {
    @include button(32px, 32px, 80%, #00000011, 70%);
    display: none;

    position: absolute;
    top: 8px;
    z-index: 3;

    border: 0;
    outline: 0;
    filter: invert(1);
  }

  .home-btn {
    left: 8px;
  }

  .sound-btn {
    right: 8px;

    &__icon {
      display: none;
    }

    &__icon--active {
      display: block;
    }
  }

  .fog {
    $directions: 'top', 'left', 'bottom', 'right';

    @each $direction in $directions {
      --mask-#{$direction}: linear-gradient(to #{$direction}, #000000ff 0%, #000000ff 100%);

      &--#{$direction} {
        --mask-#{$direction}: linear-gradient(to #{$direction}, #000000ff 60%, #00000000 100%);
      }
    }

    height: 50px;
    width: 50px;
    background-image: url(./assets/images/fog-small.png);
    
    position: absolute;
    overflow: hidden;
    pointer-events: none;
    opacity: 40%;
    mask-image: var(--mask-top), var(--mask-left), var(--mask-bottom), var(--mask-right);
    mask-composite: intersect;
  }
}

.modal {
  overflow: hidden;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;

  padding: 16px 24px;

  @include box-shadow(#00000022, 0, 0, 5px, 3px);
  background: rgb(56,134,199);
  background: radial-gradient(circle, #276ca5dd 30%, #215b8bdd 100%);
  border-radius: 24px;
  border: none;
  outline: none;

  &::backdrop {
    background: url('./assets/images/fog.png'), #000000dd;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 16s linear infinite;

    opacity: 10%;
  }
}

.home {
  @include flex-container(column, center, center, 12px);
  display: none;

  height: 500px;
  width: 650px;

  .logo {
    @include flex-container(row, center, center, 12px);

    filter: invert(1);
    opacity: 0.9;
    user-select: none;

    &__icon {
      opacity: 0.85;

      &--1 {
        height: 72px;
      }
      
      &--2 {
        height: 56px;
      }
    }

    &__title {
      font-family: "Old Stamper", "Josefin Sans", sans-serif;
      font-size: 48px;
    }
  }

  .players {
    @include flex-container(row, center, center, 16px);

    &__vs {
      opacity: 90%;
      color: white;
      font-size: 64px;
      font-family: 'D Day Stencil', "Josefin Sans", sans-serif;
      user-select: none;
    }

    .player {
      @include flex-container(column, center, center, 8px);
      @include box-shadow(#00000077, 0, 0, 2px, 0);

      padding: 24px 32px;
      border-radius: 16px;

      background: radial-gradient(circle, #8eb7f577 0%, #6c91c777 150%);

      &__avatar {
        height: 168px;
        border-radius: 50%;

        @include box-shadow(#000000ff, 0, 0, 2px);

        &--human {
          display: none;
        }
      }

      &__name {
        max-width: 150px;
        border: none;
        outline: none;
        
        font-size: 24px;
        text-wrap: nowrap;
        overflow: hidden;

        margin-bottom: 8px;
      }

      &__options {
        @include flex-container(row, center, center, 12px);

        input[type=radio] {
          display: none;
        }

        input[type=radio]:checked + label {
          background-color: #202074;
          opacity: 90%;
        }

        label {
          @include button(min-content, 36px, 80%, #202074cc);

          padding: 4px 8px;
          border-radius: 8px;
          
          opacity: 70%;
          border: 2px #202074cc solid;

          color: white;
          font-size: 0.9rem;
        }
      }
    }
  }

  .play-btn {
    @include button(min-content, 36px, 80%, #61381d, 0.9);

    margin-top: 12px;
    padding: 18px 16px;
    border-radius: 8px;
    
    @include box-shadow(#000000aa, 0, 0, 3px);
    background-color: #61381d;
    border: none;
    outline: none;

    color: white;
    font-size: 1.8rem;
    font-family: 'D Day Stencil', "Josefin Sans", sans-serif;
  }
}

.place {
  display: grid;
  // display: none;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  grid-template: 
            "top top" 50px
            "btns ships" 50px 
            "board ships" 1fr
            "bottom bottom" 70px / 1fr 250px;


  height: 510px;
  width: 570px;
  padding-left: 32px;
  margin-bottom: -12px;

  &__heading {
    grid-area: top;

    color: #eee;
    font-size: 2.4rem;
    letter-spacing: 3px;
    font-family: 'D Day Stencil', "Josefin Sans", sans-serif;
    text-shadow: 0 0 5px #000000cc;
  }

  &__btns {
    grid-area: btns;

    @include flex-container(row, start, center, 12px);
    padding-top: 8px;

    & > * {
      @include button(fit-content, 32px, 100%, #3f3381, 85%);
      @include box-shadow(#000000dd, 0, 0, 2px);
      background-color: #2d2261;
      padding: 6px 8px;
      gap: 6px;

      color: white;
      font-weight: bold;

      img {
        height: 24px;
        filter: invert(0.9);
      }

      p {
        padding-top: 2px;
      }
    }

    .shuffle-btn__icon {
      height: 18px;
    }

    .rotate-btn__icon {
      display: none;

      &--active {
        display: block;
      }
    }
  }

  .panel-ships {
    grid-area: ships;

    background-color: #48aae2;
    border-radius: 12px;
    overflow: hidden;
  }

  .board {
    grid-area: board;

    $cell-size: 32px;
    width: $cell-size * 10;
    height: $cell-size * 10;

    
    background-color: #9c9ce9;
    @include box-shadow(#00000077, 0, 0, 5px);
  }

  .place-btn {
    grid-area: bottom;

    @include button(max-content, min-content, 0%, #6e3a17, 0.8);

    padding: 8px 12px;
    border-radius: 8px;
    
    @include box-shadow(#000000aa, 0, 0, 3px);
    background-color: #6e3a17;
    border: none;
    outline: none;

    color: white;
    font-size: 1.6rem;
    font-family: 'D Day Stencil', "Josefin Sans", sans-serif;
  }
}

.game {
  display: none;
}

.panel-ships {
  @include box-shadow(#00000077, 0, 0, 5px);
  @include flex-container(column, start, stretch);

  .panel-ship {
    @include flex-container(column, center, center, 4px);

    position: relative;
    height: 72px;
    padding: 8px 12px;
    $ship-size: 30px;

    @each $ship, $relative-size in $ship-relative-sizes {
      img[src*="#{$ship}"] {
        width: $relative-size * $ship-size;
      }
    }

    h3 {
      align-self: start;
      font-size: 0.9rem;
      letter-spacing: -0.3px;
      color: #020231;
    }

    img {
      align-self: end;
      transition: scale 0.3s ease, filter 0.3s ease;
      filter: auto;
      cursor: pointer;

      &:hover {
        scale: 1.05;
        filter: brightness(0) saturate(100%) invert(5%) sepia(43%) saturate(7462%) hue-rotate(230deg) brightness(76%) contrast(111%);
      }
    }

    &:not(:last-child)::after {
      content: '';
      grid-column: 1 / -1;

      position: absolute;
      bottom: -2px;

      background-color: #00083555;
      height: 2px;
      width: 85%;
    }
  }
}

.board {
  $cell-size: 50px;

  width: $cell-size * 10;
  height: $cell-size * 10;
}
