* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  color: rgb(2, 2, 90);
  font-size: 30px;
}

ul,
ol {
  background-color: rgb(230, 230, 193);
}

a {
  color: green;
  font-size: 18px;
}