@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-clr: #b97034;
  --secondary-clr: #ddd;
  --tertiary-clr: #E76F51;
  --header-bg: #fff;
}

body {
  height: 100vh;
  font-family: 'Lato', sans-serif;
}

.wrapper {
  display: grid;
  grid-template: 1fr 5fr / 1fr 4fr;
  height: 100%;
}

.wrapper > div {
  border: 1px solid red
}

img[src *= "icons"] {
  width: 15px;
  vertical-align: middle;
}

img[src *= "avatars"] {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.transparent {
  width: 15px;
  height: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.header {
  background-color: var(--header-bg);
  grid-column: 2/3;
  padding: 12px 24px;

  display: grid;
  grid-template: 30px 40px / 2fr 1fr;
  gap: 12px;
  align-items: center;
  font-weight: bold;

  .search,
  .user-info,
  .welcome,
  .buttons {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .user-info,
  .buttons {
    justify-self: right;
  }

  .search {
    gap: 10px;

    .search-btn {
      background-image: url("images/icons/magnify.svg");
    }

    #search-bar {
      flex: 1;
      max-width: 400px;
      font-size: 0.8rem;
      padding: 0.3rem 8px;

      background-color: #eee;
      border-radius: 12px;
      border: none;
    }
  }

  .user-info {
    .bell {
      background-image: url(images/icons/bell-ring-outline.svg);
    }
  }

  .welcome {
    img {
      width: 40px;
      height: 40px;
    }

    .greeting {
      font-size: 0.5rem;
      line-height: 2;
    }

    .username {
      font-size: 0.9rem;
    }
  }

  .buttons {
    button {
      padding: 6px 18px;
      border-radius: 12px;

      font-size: 0.6rem;
      font-weight: bold;
      
      background-color: var(--primary-clr);
      color: white;
      border: none;
      cursor: pointer;
    }
  }
}

.sidebar {
  background-color: var(--primary-clr);
  grid-row: 1/3;
  padding: 8px 0px;

  color: white;
  font-weight: bold;

  display: grid;
  align-content: start;
  align-items: center;
  gap: 30px;

  img[src *= "icons"] {
    filter: invert();
  }

  .logo,
  .nav-opt {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .logo {
    padding: 0px 8px;
    gap: 6px;

    img {
      width: 30px;
    }
  }

  .nav {
    display: flex;
    flex-direction: column;

    .nav-opt {
      padding: 8px 16px;

      .label {
        font-size: 0.75rem;
      }

      &:hover {
        cursor: pointer;
        user-select: none;
        background-color: white;
        color: var(--primary-clr);

        img {
          filter: invert(42%) sepia(69%) saturate(457%) hue-rotate(345deg) brightness(100%) contrast(90%);

          ;
        }
      }
    }
  }
}