$clr-primary: #0e550e;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@mixin flex-container(
  $direction: row,
  $justify: center,
  $align: center,
  $gap: 0px
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin box-shadow(
  $color: #000000aa,
  $top: 0,
  $left: 0,
  $blur: 10px,
  $spread: 0px
) {
  box-shadow: $top $left $blur $spread $color;
}

@mixin button(
  $width: 24px,
  $height: 24px,
  $image-size: 80%,
  $hover-bg: #00000033
) {
  @include flex-container;
  width: $width;
  height: $height;

  border-radius: 8px;
  background-color: transparent;
  scale: 1;
  transition: background-color 0.3s ease, scale 0.3s ease;
  cursor: pointer;

  img {
    height: $image-size;
  }

  &:hover {
    background-color: $hover-bg;
  }

  &:active {
    scale: 0.9;
  }
}

@mixin tooltip($text, $font-size: 1rem, $width: 50px, $display: inline-block) {
  position: relative;
  display: $display;

  &:after {
    content: $text;
    position: absolute;
    opacity: 0%;

    top: -20px;
    right: 0;
    left: 0;
    text-align: center;

    background-color: #000000cc;
    border-radius: 4px;
    padding: 2px;
    margin: 0 auto;
    width: $width;

    font-size: $font-size;
    color: #fff;

    transition: opacity 0.2s ease;
  }

  &:hover:after {
    opacity: 80%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.template {
  display: none !important;
}

body {
  @include flex-container(column, start, stretch);

  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('./assets/images/background.jpg') no-repeat top center;
  background-size: calc(6853px / 4) calc(4579px / 4);
  overflow: hidden;

  font-family: 'Josefin Sans', sans-serif;
}

.header {
  @include flex-container();
  background-image: linear-gradient(
    rgba($clr-primary, 0.3),
    rgba($clr-primary, 0)
  );
  height: 15vh;
  padding: 24px;

  .logo {
    @include flex-container($gap: 8px);
    opacity: 90%;

    &__icon {
      height: 48px;
      filter: drop-shadow(0 0 2px #ffffff77);
    }

    &__text {
      padding-top: 5.5%;
      color: #fff;
    }
  }
}

.main {
  display: grid;
  flex: 1;
  grid-template: 50px 1fr / 1fr 350px 350px;
  grid-template-areas:
    'top-bar daily hourly'
    'current daily hourly';

  & > * {
    border: 1px solid red;
  }

  .top-bar {
    grid-area: top-bar;

    @include flex-container(row, start, center, 16px);
    padding: 12px;

    .search-box-wrapper {
      @include flex-container(row, start, center, 4px);

      #search-box {
        padding: 6px 8px;

        background-color: transparent;
        opacity: 80%;
        outline: none;
        border: none;
        border-bottom: 2px solid white;

        color: white;

        &::placeholder {
          color: #ffffffcc;
        }
      }

      .search-btn {
        appearance: none;
        outline: none;
        border: none;
        @include button(24px, 24px, 90%);


        img {
          filter: invert(0.9);
        }
      }
    }

  
    .temp-switch {
      $height: 24px;
      $width: 48px;
      $border-width: 2px;
  
      position: relative;
  
      height: $height;
      width: $width;
  
      @include box-shadow(#00000055, 0, 0, 2px, 0);
      border: $border-width solid #ffffffcc;
      border-radius: 32px;
      
      cursor: pointer;
      overflow: hidden;
  
      &__checkbox {
        display: none;
  
        &:checked ~ .temp-switch__slider {
          background-color: transparent;
        }
        
        &:checked ~ .temp-switch__slider:before {
          transform: translateX(calc($width - $height));
        }

        &:checked ~ p{
          transform: translateX(calc(-1 * ($width - $height - 6px)));

          &::before {
            content: "°F";
          }
        }
      }
  
      &__slider {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        
        background-color: transparent;
        transition: 0.3s;
  
        &::before {
          content: "";
          position: absolute;
          height: calc($height - 8px);
          width: calc($height - 8px);
          left: 4px - $border-width;
          bottom: 4px - $border-width;
  
          border-radius: 50%;
          background-color: white;
          transition: .4s;
        }
      }

      &__label {
        position: absolute;
        right: 6px;
        bottom: 1px;
        transition: 0.3s;
        
        &::before {
          content: "°C";
          color: #ffffffdd;
          font-size: 0.9rem;
          font-weight: bolder;
        }
      }
    }
  }

  .current {
    grid-area: current;

    display: grid;
    grid-template: 2rem 2.7rem 1fr / 1fr 1fr;
    grid-template-areas: 
      "location condition"
      "timedate condition"
      "info-container info-container";

    min-width: 600px;
    padding: 24px 36px;

    .location {
      grid-area: location;

      color: #eee;
      font-size: 1.8rem;
      text-wrap: nowrap;
      user-select: none;

      &__city::after{
        content: ", ";
      }

      &__country {
        color: #bbb;
      }
    }

    .timedate {
      grid-area: timedate;

      @include flex-container(column, start, start, 2px);
      margin-top: 4px;
      color: #aaa;
      font-size: 1.1rem;
    }

    .condition {
      grid-area: condition;

      @include flex-container(column, start);
      text-align: center;
      margin-left: auto;

      &__icon {
        height: 100px;
        margin: -24px 0 -16px 0;
        opacity: 85%;
        filter: drop-shadow(0 0 3px #ffffff33);
      }

      &__text {
        color: #ffffffcc;
        font-size: 1.1rem;
        font-weight: bold;
        max-width: 20ch;
      }
    }

    .info-container {
      grid-area: info-container;

      display: grid;
      align-content: center;
      justify-content: center;
      justify-items: center;
      grid-template-columns: min(50%, 250px) min(50%, 260px);
    }

    .info {
      display: grid;
      gap: 4px;
      grid-template: 50px 50px / 64px 1fr;

      height: 100px;
      opacity: 90%;
      
      &__icon {
        align-self: center;
        justify-self: right;
        grid-row: 1 / -1;

        width: 50px;

        opacity: 60%;
        filter: invert(1);
      }

      &__label {
        align-self: end;
        color: #ccc;
        font-size: 0.7rem;
        text-transform: uppercase;
      }

      &__value {
        align-self: start;
        color: #eee;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }

    .info--temp {
      .info__icon {
        margin-right: -12px;
      }

      .info__feelslike {
        @include tooltip("Feels like", $width: 70px);
        font-weight: normal;
        color: #bbb;
      }
    }

    .info--humidity .info__icon {
      margin-right: 2px;
    }

    .info--wind .info__icon {
      margin-right: 4px;
    }

    .info-uv .info__icon {
      margin-right: 4px;
    }
  }

  .daily {
    grid-area: daily;
  }

  .hourly {
    grid-area: hourly;
  }

  .daily {
    @include flex-container();
    padding: 24px;
  }

  .list--daily {

  }

  .list--hourly{

  }

  .list {
    @include flex-container(column, start, center);

    border: #ffffff77 2px solid;
    border-radius: 16px;
    width: 230px;
    overflow-x: hidden;
    overflow-y: auto;

    .item {
      position: relative;
      display: grid;
      grid-template: repeat(3, min-content) / 1fr 60px;

      padding: 10px 12px;
      width: 100%;
      opacity: 60%;

      color: white;

      cursor: pointer;
      user-select: none;

      transition: 0.3s ease;

      &__date {
        margin-bottom: 8px;
        font-size: 0.9rem;
        font-weight: bolder;
      }

      &__condition-icon {
        grid-row: span 3;
        align-self: center;
        filter: drop-shadow(0 0 3px #ffffff77);
      }

      .pair {
        @include flex-container(row, start, center, 6px);
        margin-bottom: 4px;

        &__icon {
          height: 20px;
          filter: invert(1);
        }

        &__value {
          padding-top: 2px;
          font-size: 1.1rem;
          color: #ddd;
        }
      }

      &--active {
        background-color: rgba(white, 0.7);
        color: #555;
        opacity: 90%;
        
        .item__date {
          color: #111;
        }

        .pair__icon {
          filter: invert(0.1);
        }

        .pair__value {
          color: #555;
        }

        .item__condition-icon {
          filter: drop-shadow(0 0 1px #222);
        }
      }

      &:not(:last-child):not(.item--active)::after {
        content: "";
        grid-column: 1 / -1;

        position: absolute;
        bottom: -2px;

        background-color: #ffffff55;
        height: 2px;
        width: 100%;
      }
    }
  }
}
