@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > div {  /* applies to sections */
  padding: 0 150px;
}

.header {
  background-color: #1F2937;
}

.header nav {
  justify-content: space-between;
  padding: 24px 0;
}

.header nav .logo {
  font-size: 24px;
  font-weight: 900;
  color: #F9FAF8;
}

.header nav .nav-links {
  gap: 24px;
}

.header nav .nav-links a,
.header .hero .text p,
.header .hero .text button {
  font-size: 18px;
  color: #E5E7EB;
}

.header .hero {
  gap: 32px;
  padding: 72px 0;
  justify-content: center;
}

.header .hero img {
  max-height: 300px;
  width: auto;
  border-radius: 12px;
}

.header .hero .text {
  gap: 16px;
  max-width: 450px;
  align-items: flex-start;
}

.header .hero .text h1 {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
  margin-bottom: -10px;
}

.header .hero .text button {
  background-color: #3882F6;
  border: #3882F6;
  color: #F9FAF8;
  padding: 12px 36px;
  font-weight: 800;
  border-radius: 12px;
}