@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > div {
  padding: 48px 150px;
}

.header {
  background-color: #1F2937;
  padding: 24px 150px;
}

.header nav {
  justify-content: space-between;
}

.header nav .logo {
  font-size: 24px;
  font-weight: 900;
  color: #F9FAF8;
}

.header nav .nav-links {
  gap: 24px;
}

.header nav .nav-links a,
.header .hero .text p,
button {
  font-size: 18px;
  color: #E5E7EB;
}

.header .hero {
  gap: 32px;
  padding: 72px 0;
  justify-content: space-between;
}

.header .hero img {
  max-height: 300px;
  width: auto;
  border-radius: 12px;
}

.header .hero .text {
  gap: 16px;
  max-width: 450px;
  align-items: flex-start;
}

.header .hero .text h1 {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
  margin-bottom: -10px;
}

.header .hero .text button,
.cta-section .cta button {
  background-color: #3882F6;
  border: #3882F6;
  color: #F9FAF8;
  padding: 6px 32px;
  font-weight: 800;
  border-radius: 12px;
}

.information {
  padding: 48px 150px 96px;
}

.information h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
  margin-bottom: 36px;
}

.information .cards {
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px;
}

.information .cards .card {
  gap: 12px;
}

.information .cards .card .wrapper {
  height: 150px;
  width: 150px;
}

.information .cards .card .wrapper img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 4px solid #3882F6;
  border-radius: 12px;
}

.information .cards .card .subtext {
  max-width: 150px;
  text-align: center;
  color: #5f6061;
}

.quote-section {
  background-color: #E5E7EB;
  padding: 144px 150px;
}

.quote-section .quote {
  margin: 0px auto;
  max-width: 700px;
  gap: 8px;
}

.quote-section .quote p {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1F2937;
}

.quote-section .quote .author {
  align-self: flex-end;
  font-size: 20px;
  color: #1F2937;
  font-weight: 900;
}

.cta-section {
  padding: 96px 192px;
}

.cta-section .cta {
  background-color: #3882F6;
  border-radius: 12px;
  padding: 48px 120px;
}

.cta-section .cta .cta-text {
  align-items: flex-start;
  flex: 1;
  gap: 4px;
  color: #F9FAF8;
}

.cta-section .cta .cta-text h3 {
  font-size: 20px;
  font-weight: 900;
}

.cta-section .cta button {
  font-size: 16px;
  border: 2px solid #F9FAF8;
  margin-left: 120px;
}