@use 'sass:map';

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Dancing+Script:wght@400..700&display=swap');

@font-face {
  font-family: 'Carnevalee Freakshow';
  src: url('assets/fonts/Carnevalee Freakshow.ttf');
}

@mixin flex-container(
  $direction: row,
  $justify: center,
  $align: center,
  $gap: 0px
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin box-shadow(
  $color: #000000aa,
  $top: 0,
  $left: 0,
  $blur: 10px,
  $spread: 0px
) {
  box-shadow: $top $left $blur $spread $color;
}

@mixin button(
  $width: 24px,
  $height: 24px,
  $image-size: 80%,
  $hover-bg: #00000033,
  $start-opacity: 100%
) {
  @include flex-container;
  width: $width;
  height: $height;

  border-radius: 8px;
  background-color: transparent;
  border: none;
  outline: none;
  opacity: $start-opacity;
  scale: 1;

  transition: background-color 0.3s ease, scale 0.3s ease, opacity 0.3s ease;
  cursor: pointer;

  & > * {
    display: block;
    height: $image-size;
    font-size: calc($height * ($image-size / 100%));
  }

  &:hover {
    background-color: $hover-bg;
    opacity: 100%;
  }

  &:active {
    scale: 0.9;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

img,
.material-symbols-outlined {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

button {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Crimson Text', sans-serif;
  min-height: 100vh;
  min-width: 350px;
  overflow-x: hidden;
  background-color: #fefefe;

  @include flex-container(column, start, stretch);
  position: relative;
}

.heading {
  font-family: 'Carnevalee Freakshow', serif;
  font-size: 64px;
  line-height: 1.15;
  font-style: normal;
  font-weight: 400;
  font-weight: normal;
  color: #542851;

  // word-wrap: break-word;
  // word-break: break-all;

  flex: none;
}

.social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  flex: none;

  &__icon {
    @include button(40px, 40px, 70%, rgba(black, 0.1));

    flex: none;
  }
}

.about {
  @include flex-container(column, start, center);
  padding: 32px 24px;
  gap: 12px;

  .about__bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;

    height: 588.5px;
    filter: drop-shadow(0 4px 4px rgba(black, 0.5));

    &__overlay,
    &__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      clip-path: polygon(0% 0%, 0% 100%, 100% 69%, 100% 0%);
    }

    &__overlay {
      background-color: #5a064b;
      opacity: 0.6;
    }

    &__img {
      opacity: 0.3;
      object-fit: cover;
      object-position: top left;
    }
  }

  .about__box {
    @include flex-container(column, start, center);
    gap: 32px;

    .about__avatar {
      position: relative;
      width: clamp(285px, calc(100vw - 2 * 24px), 354px);
      height: 499px;

      &--ghost {
        display: none;
      }

      &__bg {
        width: 100%;
        height: 100%;
        background: radial-gradient(50% 50% at 50% 50%, #3d558a 0%, #1c2c50 100%);
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
        border-radius: 16px;
        overflow: hidden;
        position: relative;
      }

      img {
        width: 284.62px;
        max-width: 90%;
        height: auto;
        object-fit: contain;

        position: absolute;
        bottom: -3px;
        right: -3px;

        filter: drop-shadow(0px 0px 45.6px rgba(245, 239, 168, 0.3));
      }

      h1 {
        position: absolute;
        width: 300px;
        height: 168px;
        top: 326px;
        left: 18px;
        z-index: 1;

        font-family: 'Dancing Script';
        font-style: normal;
        font-weight: 500;
        font-size: 72px;
        line-height: 1.17;

        color: #ffffff;

        filter: drop-shadow(0 0 2px rgba(black, 1));
        text-shadow: 0px 0px 12px rgba(0, 0, 0, 1);
      }
    }

    .about__text-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px;
      gap: 16px;

      flex: none;
      align-self: stretch;

      .about__text {
        font-family: 'Crimson Text';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 1.29;
        color: #777777;

        flex: none;
        align-self: stretch;
      }
    }
  }
}

.participants-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 24px 192px;
  gap: 24px;

  flex: 1 0;
  align-self: stretch;

  .participants {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(382px, max-content));
    justify-content: center;
    justify-items: center;

    padding: 0px;
    gap: 84px;

    flex: none;
    align-self: stretch;


    .participant {
      --width: clamp(250px, calc(100vw - 2 * 24px), 382px);
      --height: 537px;

      display: grid;
      justify-content: stretch;
      align-content: stretch;
      justify-items: center;
      align-items: center;
      grid-template:
        'picture picture' 4fr
        'name social-links' max-content
        'desc desc' 150px / 2fr 1fr;

      isolation: isolate;

      width: var(--width);
      height: var(--height);

      background: #fafafa;
      box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
      border-radius: 8px;
      overflow: hidden;

      flex: none;

      &__picture {
        grid-area: picture;
        background-color: #777777;
        justify-self: stretch;
        align-self: stretch;
        overflow: hidden;

        @include flex-container(column, end, center);

        img {
          max-width: 90%;
          object-fit: contain;
          filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
        }
      }

      &__name {
        grid-area: name;

        justify-self: start;
        margin-left: 29px;
        margin-top: 16px;
        margin-bottom: 8px;

        font-family: 'Crimson Text';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 1;

        // white-space: nowrap;

        color: #333333;
      }

      .social-links {
        grid-area: social-links;
        margin-top: 16px;
        margin-right: 24px;
        justify-self: end;

        &__icon {
          @include button(48px, 48px, 70%, rgba(black, 0.1));
        }
      }

      &__description {
        grid-area: desc;

        padding: 0 29px;
        align-self: start;

        font-family: 'Crimson Text';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.29;

        color: #777777;

        flex: 0 0 auto;
      }
    }

    $participant-picture-info: (
        'width': 419px,
        'height': 307px,
        'background':
          radial-gradient(
            50% 50% at 50% 50%,
            rgba(228, 172, 106, 0.9) 0%,
            rgba(184, 127, 60, 0.9) 100%
          ),
      ),
      (
        'width': 204px,
        'height': 285px,
        'background':
          radial-gradient(
            50% 50% at 50% 50%,
            rgba(160, 155, 216, 0.9) 0%,
            rgba(101, 97, 150, 0.9) 100%
          ),
      ),
      (
        'width': 200px,
        'height': 299px,
        'background':
          radial-gradient(
            50% 50% at 50% 50%,
            rgba(238, 141, 141, 0.9) 0%,
            rgba(181, 84, 84, 0.9) 100%
          ),
      ),
      (
        'width': 176.5px,
        'height': auto,
        'background':
          radial-gradient(
            50% 50% at 50% 50%,
            rgba(125, 187, 103, 0.9) 0%,
            rgba(85, 129, 70, 0.9) 100%
          ),
      ),
      (
        'width': 218px,
        'height': 277px,
        'background':
          radial-gradient(
            50% 50% at 50% 50%,
            rgba(70, 146, 217, 0.9) 0%,
            rgba(51, 96, 137, 0.9) 100%
          ),
      ),
      (
        'width': 205.5px,
        'height': auto,
        'background':
          radial-gradient(
            50% 50% at 50% 50%,
            rgba(170, 128, 175, 0.9) 0%,
            rgba(122, 59, 131, 0.9) 100%
          ),
      ),
      (
        'width': auto,
        'height': 100%,
        'background':
          radial-gradient(
            50% 50% at 50% 50%,
            rgba(160, 155, 216, 0.9) 0%,
            rgba(101, 97, 150, 0.9) 100%
          ),
      ),
      (
        'width': auto,
        'height': 250px,
        'background':
          radial-gradient(
            50% 50% at 50% 50%,
            rgba(125, 187, 103, 0.9) 0%,
            rgba(85, 129, 70, 0.9) 100%
          ),
      ),;

    @for $i from 1 through length($participant-picture-info) {
      $info: nth($participant-picture-info, $i);

      .participant:nth-child(#{$i}) .participant__picture {
        background: map.get($info, 'background');

        img {
          width: map.get($info, 'width');
          height: map.get($info, 'height');
        }
      }
    }
  }
}

.contact {
  @include flex-container(column, start, stretch);
  padding: 24px 0px 0px;
  gap: 24px;

  background: radial-gradient(50% 50% at 50% 50%, #83487B 0%, #733E6C 100%);
  box-shadow: 0px -4px 12px 1px rgba(0, 0, 0, 0.1);

  &__contents {
    @include flex-container(column, start, center);
    padding: 10px 36px 48px;
    gap: 24px;
    flex: 1 1 auto;

    color: #EEEEEE;

    .heading {
      color: #EEEEEE;
    }

    .contact__text {
      /* contact__text */

      font-family: 'Crimson Text';
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 1.28;

      color: #CCCCCC;

      flex: none;
    }

    .contact__pairs {
      @include flex-container(column, start, start);
      padding: 0px 16px;
      margin: 8px 0;
      gap: 16px;

      flex: none;

      .contact__pair {
        @include flex-container(row, start, center);
        gap: 10px;

        .contact__icon {
          display: none;
          font-size: 32px;
          color: #DDDDDD;
        }

        .contact__info {
          font-family: 'Crimson Text';
          font-style: normal;
          font-weight: 700;
          font-size: 22px;
          line-height: 1.4;
          color: #DDDDDD;
        }
      }
    }

    .social-links {
      gap: 16px;

      &__icon {
        @include button(64px, 64px, 70%, rgba(black, 0.1));
        color: #FFFFFF;
      }
    }
  }

  &__avatar {
    object-position: center center;
    display: block;
    width: 100%;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

@media only screen and (min-width: 600px) {
  #body {
    .heading {
      font-size: 40px;
    }

    .about {
      padding: 128px 56px 72px;
    }

    .about__box {
      width: min(calc(100% - 2 * 24px), 588px);
      height: auto;

      background: #FAFAFA;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
      border-radius: 8px;
      padding: 30px 36px 48px;
      display: block;
      position: relative;

      
      .about__avatar {
        align-self: start;

        position: absolute;
        left: -34px;
        top: -66px;
        width: 300px;
        height: 300px;

        h1 {
          position: absolute;
          left: 252px;
          top: -13px;

          font-size: 48px;
          line-height: 1.75;

          width: max-content;
          height: min-content;
        }

        img {
          width: 184px;
          height: 282px;
        }

        &--ghost {
          display: block;
          width: calc(300px - 34px - 36px + 12px);
          height: calc(300px - 66px - 24px);
          float: left;
        }
      }

      .about__text-box {
        display: contents;
        align-items: center;

        .heading {
          text-align: center;
          white-space: nowrap;
          word-wrap: nowrap;
          margin-bottom: 8px;
        }
        
        .about__text {
          font-size: 20px;
          line-height: 1.4;
        }
      }

      .social-links {
        display: none;
      }
    }

    .participants-section {
      gap: 32px;
    }

    .participants {
      padding: 0px;
      gap: 56px 40px;
      grid-template-columns: repeat(auto-fit, minmax(calc(0.64 * 382px), max-content));
    }
  
    .participant {
      scale: 0.7;
      margin: -90px -60px;
    }

    picture {
      display: block;
    }

    .contact {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 12px;
      padding: 48px;

      &__contents {
        padding: 0;
        max-width: 400px;
      }

      &__text,
      &__info {
        font-size: 20px;
      }

      &__icon {
        display: block;
      }

      .social-links {
        align-self: start;

        &__icon {
          @include button(48px, 48px, 70%, rgba(black, 0.1));
        }
      }

      &__avatar {
        object-fit: cover;
        flex: 1;
        height: 400px;

        filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
        border-radius: 8px;

        flex: none;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  #body#body {
    .about {
      padding-left: 0;
      padding-right: 0;

      .about__avatar {
        width: 400px;
        height: 440px;
        position: absolute;
        left: 12px;
        top: 50%;

        translate: -100% -50%;

        &--ghost {
          display: none;
        }

        h1 {
          bottom: 0;
          left: 24px;
          top: auto;

          font-size: 56px;
        }

        img {
          width: 267px;
          height: 409px;
        }
      }

      .about__box {
        align-self: start;

        display: flex;
        justify-content: space-between;

        padding: 18px 36px 24px 48px;
        height: 364.62px;
        width: 50%;
        max-width: 600px;

        position: relative;
        left: 50%;
        translate: calc(-50% + ((400px - 12px) / 2));
      }

      .about__text-box {
        display: flex;
        gap: 12px;

        .heading {
          margin-bottom: 0;
          align-self: start;
        }

        .about__text {
          font-size: 18px;
        }
      }

      .social-links {
        display: flex;
        position: absolute;
        bottom: 8px;
        right: 8px;
      }
    }
  }
}