@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');
@import url('https://fonts.cdnfonts.com/css/seven-segment');


* {
  margin: 0;
  padding: 0;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  height: 100vh;
}

.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.header {
  font-family: Roboto Slab, sans-serif;
  letter-spacing: 1px;
  background-color: #131331;
  color: #f7fcfc;
  text-align: center;
  padding: 24px 48px;
}

.main {
  flex: 1;
  background-color: #fcfcfc;
  padding: 24px 48px;
  justify-content: center;
  align-items: center;
}

.calculator {
  flex: none;
  border: 1px solid #a5a5a596;
  border-radius: 12px;
  background-color: #dddddd;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  width: 275px;
  padding: 24px;
  gap: 12px;
}

.display,
.buttons button {
  font-family: Seven Segment, monospace;
  font-size: 2.75em;
}

.display {
  height: 1em;
  padding: 4px 8px;
  justify-content: right;
  overflow: hidden;
  border: 1px solid rgba(0, 68, 0, 0.267);
  background-color: #a7cfa7;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.buttons {
  flex-wrap: wrap;
  gap: 5px;
}

.buttons button {
  box-sizing: border-box;
  height: 65px;
  width: 65px;
  border: 1px solid #7e7e7e77;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.buttons button:hover {
  filter: brightness(92%);
}

button.clear,
button.delete {
  flex: 1 0 130px;
  background-color: #d86060;
  color: #f3f3f3;
}

button.operation {
  background-color: #8989cc;
  color: #f3f3f3;
}

button.equals {
  background-color: #da9d4d;
  color: #f3f3f3;
}
